.dashboard-wrapper {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
    flex-direction: column;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    background: whitesmoke;
    color: rgb(0, 0, 0);
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }
  
  .header-title {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
  }
  
  .toggle-menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(5, 0, 0);
  }
  
  .side-menu {
    background: linear-gradient(to bottom, #d1d1d1, #b7b9b5, #b3d9ff);

    color: rgb(1, 0, 31);
    width: 250px;
    transition: width 0.3s ease;
    overflow: hidden;
    padding-top: 50px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .side-menu.collapsed {
    width: 0;
    padding: 0;
  }
  
  .user-profile {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #000000;
    width: 100%;
    color: #010a1b;
  }
  
  .profile-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #1f2325;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin: 0 auto 10px;
  }
  
  .user-name {
    font-weight: bold;
    font-size: 16px;
  }
  
  .user-email {
    font-size: 14px;
    color: #012933;
  }
  
  .side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  
  .side-menu ul li {
    padding: 15px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .side-menu ul li:hover {
    background-color: #303cee;
  }
  
  .side-menu ul li.menu-item-active {
    background-color: #ffffff;
  }
  
  .side-menu ul li svg {
    margin-right: 10px;
  }
  
  .logout-btn {
    width: 90%;
    padding: 10px;
    margin-top: auto;
    background: #e74c3c;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logout-btn:hover {
    background: #c0392b;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 80px 20px 20px;
    background-color: #ecf0f1;
    overflow-y: auto;
    margin-left: 250px;
    transition: margin-left 0.3s ease;
  }
  
  .side-menu.collapsed + .main-content {
    margin-left: 0;
  }
  
  @media (max-width: 768px) {
    .side-menu {
      width: 200px;
    }
    
    .main-content {
      margin-left: 200px;
    }
  
    .side-menu.collapsed {
      width: 0;
    }
  
    .side-menu.collapsed + .main-content {
      margin-left: 0;
    }
  }
  